html, body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    background-color: #ede7f6;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header{
    font-weight: 600;
    font-size: 110%;
    box-sizing: border-box;
    width: 100%;
    color: white;
    display: flex;
    flex-direction : column;
}

.heading{
    padding: 1rem;
    background-color: #191D88;
    text-align: center;
    font-size: 2rem;
    font-family: serif;
}

.data{
    color:#cccccc;
    padding: 1rem;
    background-color: #1450A3;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 15px 90px -15px #111;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.head-data{
    letter-spacing: .0.6rem;
}

.main{
    height: 100%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
}

.main-heading{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    padding-top: 1rem;
    font-weight: 700;
    text-decoration-style: underline wavy;
}

.main-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.a-area{
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.as{
    min-width: 10rem;
    max-width: 10rem;
    padding: 2rem;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 25px 7px rgba(0,0,0,0.25); 
    min-height: 6.5rem;
    max-height: 6.5rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: #111;
    cursor: pointer;
    transition: 0.5s;
    animation-duration:1s;
    animation-name: fadein;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

.as a{
    
    color:#111;
    text-decoration: none;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.as:hover{
    transform: scale(1.05);
    font-size: larger;
}

.footer{
    background-color: #ffc436;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: rgb(55, 5, 78);
    font-weight: 700;
    padding: 1rem;
    font-size: larger;
    text-align: center;
}