html,
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: #ede7f6;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.question {
  background-color: #191d88;
  text-align: center;
  font-size: 1.6rem;
  font-family: serif;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.main {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  display: flex;
  height: 100%;
  margin: 5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.main input {
  width: 100%;
  height: 3.5rem;
  border-radius: 15px;
  border: 1px solid black;
}

.main input::placeholder {
  padding: 1rem;
  font-size: larger;
  font-weight: 600;
}

header {
  font-size: 3rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  padding-top: 1rem;
  font-weight: 700;
  text-decoration-style: underline wavy;
}

button {
  padding: 1rem;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid black;
  width: 6rem;
  font-size: larger;
}

button:hover {
  transform: scale(1.2);
}

button {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  height: 3rem;
  width: 7rem;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #f082ac;
}
